**/__pycache__/*
./tmp/*
app/static/candidates/*
node_modules/
.env
.idea
app/static/votedata/*
app/static/pdf/*
docker-compose.override.yaml
machine-statistics.csv
app/static/election
# stores the local bind mount
data
*.pyc
target