{% if audit_message %}
<div class="modal show" id="audit_modal" tabindex="-1" aria-labelledby="Intermediate step modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Audit your vote
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div>
                        <p>Auditing information for your token is attached in the file <a href="{{ url_for('static', filename=filepath) }}" rel="download" id="download">{{filename}}</a> and has been auto-downloaded.</p>
                        <p>You should now go back to voting to finalize your vote, otherwise it will not be tallied.</p>
                    </div>

                    <div class="modal-footer">
                        <form id="auditbtn" class="needs-validation" action="{{ url_for('elections.election_vote', election_id=election.id) }}" method="GET" novalidate>
                            <button class="btn btn-primary" id="goback_button" role="button">Back to Voting</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
#audit_modal {
    /* if bootstrap would actually show a modal with class .show, I wouldn't need this  */
    display: block;
}
</style>
<script>
window.addEventListener("load", function() {
    document.getElementById("download").click();
});
</script>
{% endif %}
