{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="card" id="main-card">
      <div class="card-body" id="heading-card">
          List of emails of all who voted: <a href="{{url_for('static', filename=emails )}}" target="_blank">click to download</a><br>
          List of tokens of all who voted: <a href="{{url_for('static', filename=tokens )}}" target="_blank">click to download</a><br>
          Code repo at: <a href="https://github.com/GaurangTandon/election-portal">click to open</a>
      </div>
    </div>
  </div>
{% endblock %}
