{% if inter_message %}
<div class="modal show fade" id="inter_modal" tabindex="-1" aria-labelledby="Intermediate step modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Finalize or audit your vote
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div>
                        <p>Your cryptographically generated proof token is:</p>
                        <div class="row">
                            <div class="col col-md-6">
                                <pre style="width: 200px;" id="token-proof">{{ inter_message.hash }}</pre>
                            </div>
                            <div class="col col-md-2">
                                <button type="button" class="btn btn-info" id="copy-button">Copy</button>
                            </div>
                        </div>
                        <p>This is a <b>SECRET</b>, do not share this with anyone, including EC members.</p>
                        <p>A ballot will be released after election, where this token will be present, guranteeing that your vote was recorded</p>
                        <p>You may now <b>audit</b> the contents of this token, or <b>finalize</b> your vote. Auditing will allow you to confirm that this token correctly encodes your preferences.</p>

                        <p>If your vote is not finalized, it will not be tallied in the results.</p>
                    </div>

                    <div class="modal-footer">
                        <form id="auditbtn" class="needs-validation" action="{{ url_for('elections.token_audit', election_id=election.id) }}" method="POST" novalidate>
                            <input name="fingerprinter" type="text" hidden class="fingerprinter" />
                            <button class="btn btn-primary" id="audit_button" role="button">Audit Vote</button>
                        </form>
                        <form id="finbtn" class="needs-validation" action="{{ url_for('elections.token_cast', election_id=election.id) }}" method="POST" novalidate>
                            <input name="fingerprinter" type="text" hidden class="fingerprinter" />
                            <button class="btn btn-success" id="commit_button" role="button">Finalize Vote</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop show fade"></div>
<style>
#inter_modal {
    /* if bootstrap would actually show a modal with class .show, I wouldn't need this  */
    display: block;
}
#copy-button {
    float: right;
}
#token-proof {
    float: left;
}
</style>
<script>
const copyBtn = document.getElementById("copy-button");
const tokenProofPre = document.getElementById("token-proof");
const tokenProofStr = tokenProofPre.innerText.trim();
copyBtn.addEventListener("click", function() { 
    window.navigator.clipboard.writeText(tokenProofStr);
});
async function getFingerprint() {
    const fpPromise = (await import('https://openfpcdn.io/fingerprintjs/v3')).load();
    const fp = await fpPromise;
    const result = await fp.get();
    const visitorId = result.visitorId
    return visitorId;
}
async function setter() {
    const fingerprintInput = document.getElementsByClassName('fingerprinter');
    const fingerprintValue = await getFingerprint();
    for (const input of fingerprintInput) {
        input.value = fingerprintValue;
    }
}
setter();
</script>
{% endif %}
