{% include "election/vote_btn.html" %}
{% if not inter_message and not audit_message %}

{% if election.election_method | string() == "ElectionMethods.STV" %}
    {% set word = "preference" %}
{% elif election.election_method | string() == "ElectionMethods.IRV" %}
    {% set word = "choice" %}
{% endif %}

<div class="modal fade" id="vote_modal" tabindex="-1" aria-labelledby="vote_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="vote_modalLabel">
                        {{ election.title }}
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                    <div class="modal-body">
                        <h5>Select your {{ word }}</h5>
                        {% if election.election_method | string() == "ElectionMethods.IRV" %}
                            <p>All your choices have equal weight in this election</p>
                        {% endif %}
                        {% if error_vote %}
                            <div id="formerror">
                                <h6><i class="bi bi-exclamation-circle"></i>{{ error_vote }}</h6>
                            </div>
                        {% endif %}
                        <div id="error" class="error">
                            <h6><i class="bi bi-exclamation-circle"></i>Kindly check your {{ word }} order</h6>
                        </div>
                        <form id="PreferenceForm" class="needs-validation" action="{{ url_for('elections.election_info', election_id=election.id) }}"
                            method="POST" novalidate>
                            {% for i in range(preferences) %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon{{ i }}">{{ i + 1 }}</span>
                                <select name="votes" class="form-select" aria-label="Default select example">
                                    <option selected value="">None</option>
                                    {% for candidate in eligible_candidates %}
                                    <option value="{{ candidate.user.id }}">{{ candidate.user.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    By checking this box, I understand that the vote I cast will be <b>final</b> and
                                    <b>cannot be changed later</b>.
                                </label>
                            </div>
                            <div id="checkbox-error" class="error">
                                <h6><i class="bi bi-exclamation-circle"></i> Kindly check the box</h6>
                            </div>
                            <input name="fingerprinter" type="text" hidden id="fingerprinter" />
                        </form>
                        <div class="modal-footer">
                            <button type="button" id="clearButton" class="btn btn-danger">Clear All</button>
                            <button class="btn btn-primary" id="submitButton" href="#" role="button">Cast Vote</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- TODO: not sure why this doesn't work? -->
<!-- <script src="{{ url_for('static',filename='js/preferenceform2.js') }}"> -->
<script>
const form = document.getElementById('PreferenceForm');
const count = form ? form.length - 1 : 0;
const error = document.getElementById('error');
const checkboxError = document.getElementById('checkbox-error');
const checkbox = document.getElementById('flexCheckDefault');
const submitButton = document.getElementById('submitButton');
const clearButton = document.getElementById('clearButton');
const voteButton = document.getElementById('vote-button');

let preferences = [];

if (clearButton) {
    clearButton.addEventListener("click", function clearall() {
        form.reset();
        checkbox.checked = false;
        error.classList.add("error");
        error.classList.remove("showerror");
        checkboxError.classList.add("error");
        checkboxError.classList.remove("showerror");
        window.localStorage.setItem('preferences', JSON.stringify([]));
    });
}

if (form) {
    form.addEventListener("change", function check(par) {
        let cur = par.target;
        for (let i = 0; i < count; i += 1) {
            if (form[i].value !== "" && form[i].value === cur.value && form[i] !== cur) {
                form[i].value = '';
            }
        }
        for (let i = 0; i < count; i += 1) {
            preferences[i] = form[i].value;
        }
        window.localStorage.setItem('preferences', JSON.stringify(preferences));
    });
}

async function getFingerprint() {
    const fpPromise = (await import('https://openfpcdn.io/fingerprintjs/v3')).load();
    const fp = await fpPromise;
    const result = await fp.get();
    const visitorId = result.visitorId
    return visitorId;
}

// const SHOW_CLS = "show";
if (submitButton) {
    submitButton.addEventListener("click", async function submit() {
        error.classList.add("error");
        error.classList.remove("showerror");
        checkboxError.classList.add("error")
        checkboxError.classList.remove("showerror");
        for (let i = 0; i < count; i += 1) {
            preferences[i] = form[i].value;
        }
        // console.log(preferences)

        // if (preferences[0] === '') {
        //     // console.log('empty');
        //     // error.classList.add(SHOW_CLS);
        //     error.classList.remove("error");
        //     error.classList.add("showerror");
        //     return false;
        // }

        for (let i = 0; i < count; i += 1) {
            if (preferences[i] === '') {
                for (let j = i + 1; j < count; j += 1) {
                    if (preferences[j] !== '') {
                        // console.log('wrong order');
                        error.classList.remove("error");
                        error.classList.add("showerror");
                        return false;
                    }
                }
            }
        }

        window.localStorage.setItem('preferences', JSON.stringify(preferences));
        const fingerprintInput = document.getElementById('fingerprinter');
        const fingerprintValue = await getFingerprint();
        fingerprintInput.value = fingerprintValue;

        if (checkbox.checked === true) {
            form.submit();
        } else {
            checkboxError.classList.remove("error")
            checkboxError.classList.add("showerror");
        }
    });
}

if (voteButton) {
    window.getpref = function () {
        preferences = JSON.parse(localStorage.getItem('preferences'));
        if (preferences === null) {
            preferences = [];
        }
        // console.log(preferences)
        for (let i = 0; i < count; i += 1) {
            form[i].value = preferences[i];
        }
        // console.log(document.getElementById("flexCheckDefault").checked)
    };
    // document.getElementById("clearButton").onclick = clearall()
    // voteButton.addEventListener("click", getpref);
}
</script>

{% if display_vote_modal %}
<script>
    var myModal = new bootstrap.Modal(document.getElementById('vote_modal'));
    myModal.show();
    // getpref();
</script>
{% endif %}
{% endif %}
