body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/background2.png); 
    background-repeat: repeat;
}

#main-card{
    margin-top: 10px;
    margin-bottom: 10px;
}

#settings-dropdown{
    width: 270px;
}

.container{
    padding-bottom: 10px;
}

#heading-card{
    /* text-align: center; */
}

#subheading-card{
    margin-top: 5px;
}

#vote-button{
    position: fixed; 
    right: 10; 
    bottom: 10; 
    z-index: 1;
}

#error{
    color: red; 
    /* display: none; */
}

#checkbox-error{
    color: red; 
    /* display: none; */
}

#candidate-card{
    min-height: 500px;
}

#card-group{
    margin-top: 0px;
}

.showerror.error{
    display: block;
}

.error{
    display: none;
}