{% extends "base.html" %}
{% block head %}
  <script src="https://cdn.tiny.cloud/1/hnr7k19yuzeajpnzcbht4qkdpofkyakdusj15khswek255e6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
    tinymce.init({
        selector: 'textarea#editor',
        menubar: false
    });
    </script>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="card" id="main-card">
      <div class="card-body">
        <h1>{{ election.title }}</h1>
      </div>
    </div>
    <div class="card" id="subheading-card">
      <div class="card-body">
        <h2>Candidate Profile</h2>
      </div>
    </div>
    <div class="card" id="subheading-card">
        <div class="card-body">
          <h3><b>Candidate Name: </b>{{ candidate.user.name }}</h3>
        </div>
    </div>
    
    <div class="row row-cols-1 d-flex row-cols-md-2 g-4" id="card-group">

        <div class="col">
          <div class="card card-body flex-fill">
            <img src="{{ url_for('static', filename=candidate.photo ) }}" class="card-img-top" alt="Card image cap">
          </div>
        </div>
        <div class="col">
            <div class="card card-body flex-fill">
              <div class="card-body">
                <h4 class="card-text"><b>Batch: </b>{{ candidate.user.batch | upper }}</h4>
                <h4 class="card-text"><b>Roll Number: </b>{{ candidate.user.roll_number }}</h4>
                <h4 class="card-text"><b>Course: </b>{{ candidate.user.programme | upper }}</h4>
                <h4 class="card-text"><b>Email ID: </b>{{ candidate.user.email }}</h4>
              </div>
            </div>
          </div>
      </div>
    <div class="card" id="main-card">
        <div class="card-body">
            <h4 class="card-title"><b>Manifesto </b>{% if owner %}<a class="btn btn-primary" href="../html/candidate_id_edit.html" role="button">Edit</a>{% endif %}</h4>
            <p class="card-text">{{ candidate.manifesto }}
              <div id="Iframe-Master-CC-and-Rs" class="set-margin set-padding set-border set-box-shadow center-block-horiz">
                <div class="responsive-wrapper responsive-wrapper-wxh-572x612" style="-webkit-overflow-scrolling: touch; overflow: auto;">
                  <iframe src="{{ url_for('static',filename='pdf/Manifesto.pdf') }}"> 
                    <p style="font-size: 110%;"><em><strong>ERROR: </strong>  An &#105;frame should be displayed here but your browser version does not support &#105;frames. </em>Please update your browser to its most recent version and try again.</p>
                  </iframe>
                </div>
              </div>
            </p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
    </div>
    {% if g.user %}
    {% include "election/vote.html" %}
    {% endif %}
    {% endblock %}