{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>FAQ</h1>
    <div class="card">
        <h2 class="card-header">What are the guarantees this election gives?</h2>
        <div class="card-body">
            This election guarantees that a voter's vote was recorded in the database. The guarantee is achieved by providing each voter a unique cryptographic hash token of their vote, at the time of their vote.<br>
            When the election ends, we provide a dump of all the cryptographic tokens that we have recorded in our system. If you find your token in this dump, that means your vote was indeed recorded.
        </div>
    </div>
    <div class="card">
        <h2 class="card-header">What is the election voting procedure?</h2>
        <div class="card-body">
            <ol>
                <li>Goto your election on election.iiit.ac.in and press the Vote button</li>
                <li>Enter your preferences and press Cast Vote</li>
                <li>You are now shown a proof token that encodes your preferences. You don't need to trust that it actually correctly encodes your vote preferences. So, you have the option of auditing that token.</li>
                <li>If you do audit your token, you will be shown the exact breakdown of your token. You can then go back to voting and continue to vote.</li>
                <li>Each time, you may choose to audit your proof token. You may do this once or ten or hundred times. Once you are convinced that the proof token is always correct, you must finalize your vote so that it is finally recorded in the system</li>
                <li>Note that only finalized votes are counted in the final tallying.</li>
            </ol>
        </div>
    </div>
    <div class="card">
        <h2 class="card-header">Why does the proof token change every time I audit my vote?</h2>
        <div class="card-body">
            A cryptographic hash token is like a secret commitment. You have to trust that it correctly commits to your vote, but if you don't trust it, you may choose to audit it.<br>
            When you choose to audit that token, the system must reveal internal contents of the token to you. The internal contents include secret information like the random nonce values that were used in the construction of that token. Once the internal contents are revealed, the token is worthless, as all the secret is spilled in the public.<br>
            Therefore, a new token must be generated. You may also audit this new token. You may audit as many new tokens as you want to build trust, but eventually you must finalize a final vote token.
        </div>
    </div>
</div>
{% endblock %}
